html, body {
    background-color: lightyellow;
}

* {
    font-size: 24px;
    /*border: 1px solid lightcoral;*/
}

.container {
    display: flex;
}

#title {
    text-align: center;
    padding: 0;
    font-size: 30px;
}

.container#numpad {
    max-width: 375px;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    flex-direction: column;
}

.container#numpad button, .container#operations button {
    padding: 25px 35px;
    border: 2px solid black;
    margin: 3px;
    width: 87px;
    height: 82px;
    box-shadow: 2px 3px #999;
}

.container#top-part {
    flex-direction: row;
    align-self: flex-end;
}

.container#calculator {
    margin: 0 auto;
    height: auto;
    align-content: center;
    align-items: flex-start;
    border: 4px solid gray;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    width: 450px;
    height: 500px;
}

.container#numpad .row {
    padding: 0;
    display: flex;
    height: 88px;
}

.container#operations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
}

#display {
    padding: 10px;
    margin: 10px;
    margin-right: 3px;
    text-align: right;
    font-size: 30px;
    font-family: 'Xenara', sans-serif;
    align-self: flex-end;
    width: 342px;
}

/* Animations section */
.container#operations button {
    background-color: rgb(134, 134, 134);
    color: white;
}
.container#operations button:hover {
    background-color: rgb(90, 90, 90);
}
.container#numpad button {
    background-color: rgb(223, 222, 222);
}
.container#numpad button:hover {
    background-color: rgb(181, 181, 181);
}
.calc-button.clear#clear {
    background-color: rgb(255, 0, 0);
}
.calc-button.clear#clear:hover {
    background-color: rgb(158, 0, 0);
    color: white;
}

.calc-button.equals#equals {
    background-color: rgb(255, 132, 0);
}
.calc-button.equals#equals:hover {
    background-color: rgb(202, 105, 0);
    color: white;
}

.container#numpad button:active, 
.container#operations button:active {
    background-color: rgb(90, 90, 90);
    box-shadow: 0 0 #666;
    transform: translateY(2px) translateX(2px);
}